# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
**/.esphome/
**/.pioenvs/
**/.piolibdeps/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.bin
.pytest_cache/

# C extensions
*.so

secrets.yaml

.DS_Store
.claude/
.vscode/

*.txt
*.log

tmp/
